/* Body color and font */
body {
    background: #73b6e0;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-top: 0;
}

/* link style */
a:link {
    text-decoration-line: none;
}

#nav_menu {
    text-decoration: none;
    background-color: #4b4ba4;
    font-weight: bold;
    list-style-type: none;

}

#nav_menu {
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
}

body nav ul li a {
    color: white;
    display: block;
    padding: 5%;
}

body nav ul {
    display: flex;
    flex-direction: row;
}

body nav ul li {
    width: 100%;
}


main {
    clear: left;
    padding-top: 5%;
}

/* nav menu hover */
#nav_menu a:hover {
    background-color: #73b6e0;
}

h3 {
    padding-top: 0%;
    text-align: center;

}

div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
img {
width: 100%;
height: auto;
}

footer p a {
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width:920px) {
    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    img {
    width: 100%;
    height: auto;
    }
}

@media only screen and (max-width:415px) {
    body nav ul {
        flex-direction: column;
    }
}