/* Body color and font */
body {
    background: #73b6e0;
    font-family: 'Arial Narrow Bold', sans-serif;
}
/* link style */
a:link {
    text-decoration-line: none;

}

a {
    color: yellow;
}

a:hover {
    text-decoration: underline;
}


/* nav menu */
#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

.lastitem {
    border-right: none;
}

#nav_menu ul li a {
    padding: 1em;
    text-decoration: none;
    background-color: #4b4ba4;
    color: white;
    font-weight: bold;

}

#nav_menu ul li a.current {
    color: yellow;
}



main {
    clear: left;
    padding-top: 5%;
}

#nav_menu {
    margin: auto;
    width: 33%;
}

#nav_menu {
    margin: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
}

/* nav menu hover */
#nav_menu a:hover {
    background-color: #73b6e0;
}

h3 {
    clear: left;
    margin: auto;
    width: 8%;
    padding-top: 3%;

}

.catalog {
    width: 33%;
}



#top {
    margin: auto;
    width: 8%; 
}

#home {
    margin: auto;
    width: 9%;
}

@media only screen and (max-width:415px) {
    .list {
        width: 90%;
        float: none;
        display: block;
        color: white;
        padding: 14px 16px;
        margin-top: 0.7%;
        margin-bottom: 0.7%;
        
    }
}