body {
    background: #73b6e0;
    margin-top: 0;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h3 {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 1%;

}

a:link {
    text-decoration-line: none;

}

a {
    color: yellow;
}

a:hover {
    text-decoration: none;
}

#gear {
    column-count: 2;
    padding: 1%;
}


footer {
    margin-top: 33;
    text-align: center;
}

#sub-header {
    width: 80%;
    max-width: 500px;
}

/* Before photo - single subframe*/
#sub {
    width: 80%;
    max-width: 500px;
    height: 300px;

    background-image: url("../images/sub.jpg");
    background-size: cover;
    background-position: center;

    transition: background-image 0.8s ease-in-out;
}

/* after photo-stacked and processed */
#sub:hover {
    background-image: url("../images/M31.jpg");
}

/* nav menu */
#nav_menu {
    text-decoration: none;
    background-color: #525252;
    font-weight: bold;
    list-style-type: none;

}

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

#nav_menu {
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
}

body nav ul li a {
    color: white;
    display: block;
    padding: 5%;
}

body nav ul {
    display: flex;
    flex-direction: row;
    margin-block-start: 0;
    margin-block-end: 0;
}

body nav ul li {
    width: 100%;
}

nav ul li:hover {
    background-color: #808080;
}

main {
    clear: left;
    padding-top: 1em;
}

#software {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

#left {
    grid-column: 1;
}

#right {
    grid-column: 2;
}

#gear {
    clear: left;
    padding-top: 1.5em;
}


h4 {
    margin-left: 1%;
}

#rig {
    max-width: 400px;
    height: auto;
    margin-left: 1%;
}

/* MEDIA QUERIES */

@media only screen and (max-width:415px) {
    body nav ul {
        flex-direction: column;
        padding: 0%;
    }
}