body {
    background-image: url('images/milky_way.jpg');
    background-size: cover;  
    background-repeat: no-repeat; 
    background-position: center;
    color: aliceblue;
    margin-top: 0;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


/* type selector */
h1 {
    text-align: center;
}

/* nav menu */
#nav_menu {
    text-decoration: none;
    background-color: #525252;
    font-weight: bold;
    list-style-type: none;
}

/* REMOVE NAV BAR MARGIN AND PADDING */

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

#nav_menu {
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
}

/* NAV BAR TEXT */

body nav ul li a {
    color: white;
    display: block;
    padding: 5%;
}

#index {
    background-color: #808080;
}

/* NAV BAR FLEX BOX */

body nav ul {
    display: flex;
    flex-direction: row;
    margin-block-start: 0;
    margin-block-end: 0;
}

body nav ul li {
    width: 100%;
}

nav ul li:hover {
    background-color: #808080;
}

/* id selector */
#objects {
    font-weight: bold;
    line-height: 80%;
}

/* relational selector */
main>p {
    font-stretch: semi-condensed;
}

/* combination selectors */
ul.galaxies {
    font-style: oblique;
}

a:link {
    text-decoration-line: none;
}

nav ul {
    list-style-type: none;
}

a {
    color: yellow;
}

/* pseudo-class */
a:hover {
    text-decoration: none;
}

/* Columns */
div {
    column-count: 2;
    padding: 1%;
}

/* image border */
img,
video {
    padding: 0.2%;
    width: 60%;
    display: block;
    margin: auto;
    padding-bottom: 50px;

}

#astrobin,
.text {
    align-items: center;
    text-align: center;
}

h2 {
    text-align: center;
}

#box, #box1,
#box2 {
    border-radius: 20px;
    background-color: #2e2e2e56;
    margin-bottom: 5px;
}

#box{
    padding: 1%;
    margin-left: 18px;
    margin-right: 18px;
}

#box1 {
    padding-top: 25px;
}


#astrobin {
    columns: 1;
}

h4 {
    margin-top: 1%;
}

#astrogear {
    margin-top: 0.8%;
}

footer {
    text-align: center;
}

#lens {
    margin-top: 10%
}

#home {
    text-align: center;
}


main {
    clear: left;
}

/* MEDIA QUERIES */

@media only screen and (max-width:415px) {
    body nav ul {
        flex-direction: column;
        padding: 0%;
    }
}

@media only screen and (max-width:1000px) {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}