body {
    font-family: 'Arial Narrow Bold', sans-serif;
    background: #73b6e0;
}

/* type selector */
h1 {
    color: #000000;
    margin: auto;
    width: 33%;
    padding-top: 0.5em;
}

/* id selector */
#objects {
    color: #000000;
    font-weight: bold;
    line-height: 80%;
}




/* relational selector */
main>p {
    font-stretch: semi-condensed;
}

/* combination selectors */
ul.galaxies {
    font-style: oblique;
}

a:link {
    text-decoration-line: none;

}

a {
    color: yellow;
}

/* pseudo-class */
a:hover {
    text-decoration: underline;
}

li {
    padding-top: 1%;
}
 /* Columns */
div {
    column-count: 2;
    padding: 1%;
}
/* image border */
img {
    border: 2px solid #2e2e2e;
    padding: 0.2%;
}

h4 {
    margin-top: 1%;
}

#astrogear {
    margin-top: 0.8%;
}

footer {
    margin-top: 10%;
    text-align: center;
}

#lens {
    margin-top: 10%
}

#home {
    text-align: center;
}

/* nav menu */
#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

.lastitem {
    border-right: none;
}


#nav_menu ul li a {
    padding: 1em;
    text-decoration: none;
    background-color: #4b4ba4;
    color: white;
    font-weight: bold;

}

#nav_menu ul li a.current {
    color: yellow;
}

main {
    clear: left;
}

#nav_menu {
    margin: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#nav_menu a:hover {
    background-color: #73b6e0;
}