body {
    font-family: 'Arial Narrow Bold', sans-serif;
    background: #73b6e0;
}

/* type selector */
h1 {
    color: #000000;
    margin: auto;
    width: 570px;
    padding-top: 0.5em;
}

/* id selector */
#objects {
    color: #000000;
    font-weight: bold;
    line-height: 1.3rem;
}

.objects {
    padding-top: 5px;
}

/* relational selector */
main>p {
    font-stretch: semi-condensed;
}

/* combination selectors */
ul.galaxies {
    font-style: oblique;
}

a:link {
    text-decoration-line: none;

}

a {
    color: yellow;
}

/* pseudo-class */
a:hover {
    text-decoration: underline;
}

li {
    padding-top: 5px;
}
 /* Columns */
div {
    column-count: 2;
    padding: 5px;
}
/* image border */
img {
    border: 3px solid #2e2e2e;
    padding: 2px;
}

h4 {
    margin: 5px;
}

#astrogear {
    margin: 5px;
}

footer {
    margin-top: 30px;
    text-align: center;
}

#lens {
    margin-top: 50px;
}

#home {
    text-align: center;
}

/* nav menu */
#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

.lastitem {
    border-right: none;
}


#nav_menu ul li a {
    padding: 1em;
    text-decoration: none;
    background-color: #4b4ba4;
    color: white;
    font-weight: bold;

}

#nav_menu ul li a.current {
    color: yellow;
}

main {
    clear: left;
    padding-top: 1em;
}

#nav_menu {
    margin: auto;
    width: 550px;
}

#nav_menu a:hover {
    background-color: #73b6e0;
}