body {
    background: #73b6e0;
    font-family: 'Arial Narrow Bold', sans-serif;
}

a:link {
    text-decoration-line: none;

}

a {
    color: yellow;
}

a:hover {
    text-decoration: underline;
}

div {
    column-count: 2;
    padding: 5px;
}

footer {
    margin-top: 30px;
    text-align: center;
}